.grade_0 {
  background-color: #C7DFFF;
}
.grade_1 {
  background-color: #C5FFF7;
}
.grade_2 {
  background-color: #C3FFCC;
}
.grade_3 {
  background-color: #E2FFC1;
}
.grade_4 {
  background-color: #F8FFC0;
}
.grade_5 {
  background-color: #FFD7BE;
}
.grade_6 {
  background-color: #FFC0BC;
}
.grade_none {
  background-color: #FFF;
}

.kanji-grade {
  position: relative;
}

.kanji-grade::after {
  display: block;
  position: absolute;
  font-size: 16px;
  font-weight: 900;
  left: 1em;
  width: 5em;
  padding: 0.1em;
  text-align: center;
  background-color: #FFC;
  border: 1px solid #993;
  z-index: 9999;
  transition: 100ms;
  pointer-events: none;
  opacity: 0;
  bottom: -1em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  content: attr(data-grade-label);
}

.kanji-grade:hover::after {
  transition-delay: 100ms;
  opacity: 1;
  bottom: -2em;
}
