{
  "plugins": ["stylelint-stylistic"],
  "rules": {
    "stylistic/string-quotes": "double",
    "stylistic/color-hex-case": "upper",
    "stylistic/color-hex-length": "short",
    "color-no-invalid-hex": true,
    "stylistic/number-leading-zero": "always",
    "stylistic/number-no-trailing-zeros": true,
    "length-zero-no-unit": true,
    "stylistic/value-list-comma-newline-after": "never-multi-line",
    "stylistic/value-list-comma-space-after": "always",
    "stylistic/declaration-colon-space-after": "always",
    "declaration-no-important": true,
    "declaration-block-single-line-max-declarations": 0,
    "block-no-empty": true,
    "stylistic/block-opening-brace-newline-after": "always",
    "stylistic/block-closing-brace-newline-before": "always",
    "stylistic/block-opening-brace-space-before": "always",
    "declaration-block-no-duplicate-properties": true,
    "stylistic/declaration-block-trailing-semicolon": "always",
    "stylistic/selector-combinator-space-after": "always",
    "stylistic/selector-combinator-space-before": "always",
    "stylistic/selector-list-comma-newline-after": "always",
    "stylistic/indentation": 2
  }
}
